{
   "create" : {
      "cluster_name" : "asdf",
      "management" : {
         "start" : "10.0.0.251",
         "end" : "10.0.0.254",
         "netmask" : "255.255.255.0",
         "gateway" : "10.0.0.1"
      },
      "storage" : {
         "start" : "60.0.0.41",
         "end" : "60.0.0.41",
         "netmask" : "255.255.255.0",
         "gateway" : "60.0.0.1"
      },
      "service" : {
         "start" : "60.0.10.41",
         "end" : "60.0.10.41",
         "netmask" : "255.255.255.0",
         "gateway" : "60.0.10.1"
      }
   },
   "join" : {
      "target" : "10.0.0.1"
   },
   "detach" : {
      "target" : "10.0.0.1"
   }
}
