#content h1, #content h2, #content h3, #content h4, #content h5, #content strong, #content em {
    /*font-style: inherit;
    font-weight: inherit;*/
}

#content {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 14px;
    color: rgb(51, 51, 51);
    text-align: left;
    line-height: 20px;
    letter-spacing: -1px;
    word-spacing: 0px;
    /*margin-bottom: 7em;*/
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content .headline {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
}

#content div.code pre, #content pre.command, #content code, #content kbd {
    font-family: 'Consolas', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
}

#content h1.heading1 {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 26px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    letter-spacing: -1px;
    word-spacing: 0;
    margin-top: 2.5em;
    margin-bottom: 0.625em;
    line-height: 1.5em;
    text-indent: 0;
    margin-left: 0em;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-position: 0 0;
}

#content h2 {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 24px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    letter-spacing: -1px;
    word-spacing: 0;
    margin-top: 1.5em;
    margin-bottom: 0.55em;
    line-height: 1.5em;
    text-indent: 0px;
    margin-left: 0em;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-position: 0 0;
}

#content h3 {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 20px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    letter-spacing: -1px;
    word-spacing: 0;
    margin-top: 1.5em;
    margin-bottom: 1em;
    line-height: 1.5em;
    text-indent: 0;
    margin-left: 0em;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-position: 0 0;
}

#content h4 {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 16px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    letter-spacing: -1px;
    word-spacing: 0;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1.5em;
    text-indent: 0;
    margin-left: 0em;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-position: 0 0;
}

#content h5 {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 14px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    letter-spacing: -1px;
    word-spacing: 0;
    margin-top: 2em;
    margin-bottom: 0em;
    line-height: 1.5em;
    text-indent: 0px;
    margin-left: 0em;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-position: 0 0;
}

#content span.heading1_n {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 1em;
    font-weight: bold;
    color: rgb(51, 51, 51);
    padding-right: 20px;
}

#content span.heading2_n {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 0.9em;
    font-weight: bold;
    color: rgb(51, 51, 51);
    padding-right: 15px;
}

#content span.heading3_n {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 0.9em;
    font-weight: bold;
    color: rgb(51, 51, 51);
    padding-right: 10px;
}

#content span.heading4_n {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 0.9em;
    font-weight: bold;
    color: rgb(51, 51, 51);
}

#content span.heading5_n {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 0.9em;
    font-weight: bold;
    color: rgb(51, 51, 51);
    padding-right: 5px;
}

#content p.normal {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 15px;
    color: rgb(102, 102, 102);
    letter-spacing: -1px;
    word-spacing: 0px;
    margin-top: 0em;
    margin-bottom: 0em;
    line-height: 1.7em;
    text-indent: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-position: 0 0;
}

#content p.headline {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 14px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    letter-spacing: -1px;
    word-spacing: 0;
    margin-top: 2em;
    margin-bottom: 0em;
    line-height: 1.5em;
    text-indent: 0;
    margin-left: 0px;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-position: 0 0;
}

#content div.code pre {
    font-family: 'Consolas', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
    font-size: 12px;
    color: rgb(47, 111, 159);
    letter-spacing: -1px;
    word-spacing: 0;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.7em;
    text-indent: 0;
    margin-left: 0;
    margin-right: 0;
    border-top-color: rgb(230, 230, 230);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(230, 230, 230);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(230, 230, 230);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(230, 230, 230);
    border-left-style: solid;
    border-left-width: 1px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: rgb(247, 247, 247);
    background-position: 0 0;
}

#content div.code .caption {
    margin-top: 2em;
    margin-bottom: 0.5em;
    text-align: left;
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 1em;
    color: rgb(0, 0, 0);
    line-height: 1.7em;
    word-spacing: 1px;
    letter-spacing: -1px;
}

#content span.code_caption_n {
    font-weight: bold;
    color: rgb(0, 0, 255);
    padding-right: 1em;
}

#content div.code p.caption+pre {
    margin-top: 0;
}

#content pre.command {
    font-family: 'Consolas', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
    font-size: 12px;
    color: rgb(47, 111, 159);
    letter-spacing: -1px;
    word-spacing: 0;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
    line-height: 1.7em;
    text-indent: 0;
    margin-left: 0;
    margin-right: 0;
    border-left-color: rgb(255, 204, 0);
    border-left-style: solid;
    border-left-width: 3px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 0;
    background-position: 0 0;
}

#content pre {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 12px;
    color: rgb(51, 51, 51);
    letter-spacing: -1px;
    word-spacing: 0px;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
    line-height: 20px;
    text-indent: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-position: 0 0;
}

#content blockquote{
    font-size: 15px;
}
#content blockquote.blockquote {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 12px;
    color: rgb(102, 102, 102);
    font-style: italic;
    letter-spacing: -1px;
    word-spacing: 0px;
    margin-top: 2em;
    margin-bottom: 2em;
    line-height: 1.7em;
    text-indent: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2em;
    padding-right: 0;
    background-image: url(../images/image179.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

#content blockquote.epigraph {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 12px;
    color: rgb(102, 102, 102);
    font-style: italic;
    letter-spacing: -1px;
    word-spacing: 0;
    text-align: right;
    margin-top: 2em;
    margin-bottom: 2em;
    line-height: 1.7em;
    text-indent: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-position: 0 0;
}

#content ol.ordered_list {
    margin-top: 2em;
    margin-bottom: 2em;
}

#content ol li {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 14px;
    color: rgb(0, 0, 0);
    letter-spacing: -1px;
    word-spacing: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.7em;
    text-indent: 0;
    margin-left: 2em;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    list-style-type: decimal;
    background-position: 0 0;
}

#content ol li li {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 1em;
    color: rgb(0, 0, 0);
    letter-spacing: -1px;
    word-spacing: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.7em;
    text-indent: 0;
    margin-left: 1.7em;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    list-style-type: upper-alpha;
    background-position: 0 0;
}

#content ol li li li {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 1em;
    color: rgb(0, 0, 0);
    letter-spacing: -1px;
    word-spacing: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.7em;
    text-indent: 0;
    margin-left: 1.7em;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    list-style-type: upper-roman;
    background-position: 0 0;
}

#content ul.unordered_list {
    margin-top: 2em;
    margin-bottom: 2em;
}

#content ul li {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 15px;
    color: rgb(51, 51, 51);
    letter-spacing: -1px;
    word-spacing: 0px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 20px;
    text-indent: 0;
    margin-left: 2em;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    list-style-type: disc;
    background-position: 0 0;
}

#content ul li li {
    list-style-type: circle;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1.6em;
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 15px;
    color: rgb(51, 51, 51);
    word-spacing: 0px;
    letter-spacing: -1px;
    line-height: 20px;
}

#content ul li li li {
    list-style-type: square;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1.6em;
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 14px;
    color: rgb(51, 51, 51);
    word-spacing: 0px;
    letter-spacing: -1px;
    line-height: 20px;
}

#content ul li ol li {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 1em;
    color: rgb(0, 0, 0);
    letter-spacing: -1px;
    word-spacing: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.7em;
    text-indent: 0;
    margin-left: 1.7em;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    list-style-type: upper-alpha;
    background-position: 0 0;
}

#content ul li ol li ol li {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 1em;
    color: rgb(0, 0, 0);
    letter-spacing: -1px;
    word-spacing: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.7em;
    text-indent: 0;
    margin-left: 1.7em;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    list-style-type: upper-roman;
    background-position: 0 0;
}

#content ul li ul li ol li {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 1em;
    color: rgb(0, 0, 0);
    letter-spacing: -1px;
    word-spacing: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.7em;
    text-indent: 0;
    margin-left: 1.7em;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    list-style-type: upper-roman;
    background-position: 0 0;
}

#content ol li ul li ol li {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 1em;
    color: rgb(0, 0, 0);
    letter-spacing: -1px;
    word-spacing: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.7em;
    text-indent: 0;
    margin-left: 1.7em;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    list-style-type: upper-roman;
    background-position: 0 0;
}

#content ol li ul li {
    list-style-type: circle;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1.6em;
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 1em;
    color: rgb(51, 51, 51);
    word-spacing: 0px;
    letter-spacing: -1px;
    line-height: 20px;
}

#content ol li ul li ul li {
    list-style-type: square;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1.6em;
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 1em;
    color: rgb(51, 51, 51);
    word-spacing: 0px;
    letter-spacing: -1px;
    line-height: 20px;
}

#content ol li ol li ul li {
    list-style-type: square;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1.6em;
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 1em;
    color: rgb(51, 51, 51);
    word-spacing: 0px;
    letter-spacing: -1px;
    line-height: 20px;
}

#content ul li ol li ul li {
    list-style-type: square;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1.6em;
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 1em;
    color: rgb(51, 51, 51);
    word-spacing: 0px;
    letter-spacing: -1px;
    line-height: 20px;
}

#content dl.definition_list {
    margin-top: 2em;
    margin-bottom: 2em;
}

#content dl.definition_list dt {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 12px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    letter-spacing: -1px;
    word-spacing: 0px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 20px;
    text-indent: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-position: 0 0;
}

#content dl.definition_list dd p {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 3em;
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 1em;
    color: rgb(51, 51, 51);
    word-spacing: 0px;
    letter-spacing: -1px;
    line-height: 20px;
}

#content div.callout_list {
    margin-top: 2em;
    margin-bottom: 2em;
}

#content div.callout_list p {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 12px;
    color: rgb(51, 51, 51);
    letter-spacing: -1px;
    word-spacing: 0px;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 20px;
    text-indent: 0;
    margin-left: 26px;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-position: 0 0;
}

#content div.callout_list p {
    position: relative;
}

#content div.callout_list p span.callout.bullet {
    left: -26px;
    position: absolute;
    top: 2px;
}

#content div.step1 {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 12px;
    color: rgb(51, 51, 51);
    letter-spacing: -1px;
    word-spacing: 0px;
    margin-top: 2.5em;
    margin-bottom: 1em;
    line-height: 20px;
    text-indent: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-position: 0 0;
}

#content div.note {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 11px;
    color: rgb(102, 102, 102);
    letter-spacing: -1px;
    word-spacing: 0;
    margin-top: 2em;
    margin-bottom: 2em;
    line-height: 1.7em;
    text-indent: 0;
    margin-left: 0;
    margin-right: 0;
    border-top-color: rgb(216, 223, 234);
    border-top-style: solid;
    border-top-width: 0px;
    border-right-color: rgb(216, 223, 234);
    border-right-style: solid;
    border-right-width: 0px;
    border-bottom-color: rgb(216, 223, 234);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-left-color: rgb(121, 119, 194);
    border-left-style: solid;
    border-left-width: 5px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 4em;
    padding-right: 1em;
    background-color: rgb(242, 242, 242);
    background-image: url(../images/image182.png);
    background-repeat: no-repeat;
    background-position: 3px 10px;
}

#content div.tip {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 11px;
    color: rgb(79, 151, 91);
    letter-spacing: -1px;
    word-spacing: 0;
    margin-top: 2em;
    margin-bottom: 2em;
    line-height: 1.7em;
    text-indent: 0;
    margin-left: 0;
    margin-right: 0;
    border-top-color: rgb(217, 238, 212);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(217, 238, 212);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(217, 238, 212);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(217, 238, 212);
    border-left-style: solid;
    border-left-width: 1px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 4em;
    padding-right: 1em;
    background-color: rgb(228, 243, 225);
    background-image: url(../images/image183.png);
    background-repeat: no-repeat;
    background-position: 3px 10px;
}

#content div.caution {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 11px;
    color: rgb(180, 130, 75);
    letter-spacing: -1px;
    word-spacing: 0;
    margin-top: 2em;
    margin-bottom: 2em;
    line-height: 1.7em;
    text-indent: 0;
    margin-left: 0px;
    margin-right: 0;
    border-top-color: rgb(255, 239, 204);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(255, 239, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(255, 239, 204);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(255, 239, 204);
    border-left-style: solid;
    border-left-width: 1px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 4em;
    padding-right: 1em;
    background-color: rgb(255, 255, 204);
    background-image: url(../images/image181.png);
    background-repeat: no-repeat;
    background-position: 3px 10px;
}

#content .ordered_list1_indent {
    margin-left: 24px !important;
}

#content .ordered_list2_indent {
    margin-left: 44px !important;
}

#content .ordered_list3_indent {
    margin-left: 64px !important;
}

#content .unordered_list1_indent {
    margin-left: 24px !important;
}

#content .unordered_list2_indent {
    margin-left: 43px !important;
}

#content .unordered_list3_indent {
    margin-left: 62px !important;
}

#content .connected_list {
    list-style: none !important;
}

#content .connected_list>p {
    display: none !important;
}

#content div.image {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
}

#content div.image .caption {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 11px;
    color: rgb(192, 192, 192);
    font-style: italic;
    letter-spacing: -1px;
    word-spacing: 0;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 0.5em;
    line-height: 1.7em;
    text-indent: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-position: 0 0;
}

#content span.image_caption_n {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 1em;
    font-weight: bold;
    color: rgb(0, 0, 255);
    padding-right: 1em;
}

#content .element img {
    vertical-align: middle;
}

#content .image .content img {
    vertical-align: initial;
}

#content .image.step1_indent .content img {
    max-width: 100%;
}

#content table.table {
    caption-side: top;
    font-size: 15px;
    letter-spacing: -1px;
    word-spacing: 0;
    margin-top: 2em;
    margin-bottom: 2em;
    text-indent: 0;
    margin-left: 0;
    margin-right: 0;
    border-top-color: rgb(237, 237, 237);
    border-right-color: rgb(237, 237, 237);
    border-bottom-color: rgb(237, 237, 237);
    border-left-color: rgb(237, 237, 237);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 0;
    background-position: 0 0;
}

#content table.table thead, table.table tfoot {
    letter-spacing: -1px;
    word-spacing: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-position: 0 0;
}

#content table.table th {
    font-size: 0.9;
    color: rgb(51, 51, 51);
    font-weight: bold;
    letter-spacing: -1px;
    word-spacing: 0;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: 0;
    margin-left: 0;
    margin-right: 0;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(248, 248, 248);
    background-position: 0 0;
}

#content table.table tbody tr {
    letter-spacing: -1px;
    word-spacing: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-position: 0 0;
}

#content table.table tbody td {
    font-size: 12px;
    color: rgb(102, 102, 102);
    letter-spacing: -1px;
    word-spacing: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: 0;
    margin-left: 0;
    margin-right: 0;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    background-position: 0 0;
}

#content table caption {
    letter-spacing: -1px;
    word-spacing: 0;
    text-align: center;
    vertical-align: middle;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-indent: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-position: 0 0;
}

#content span.table_caption_n {
    font-weight: bold;
    color: rgb(0, 0, 255);
    padding-right: 1em;
}

#content table.element img {
    max-width: 100%;
    height: auto
}

#content hr.footnote {
    margin-top: 3em;
    margin-bottom: 1em;
    width: 80%;
    margin-right: 20%;
    border: none;
    border-top: 1px solid rgb(121, 119, 194);
}

#content hr {
    /*margin-top: 10em;*/
    border: none;
    border-top: 1px solid rgb(213, 213, 213);
}

#content ol li.footnote_item {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 11px;
    color: rgb(102, 102, 102);
    letter-spacing: -1px;
    word-spacing: 0;
    margin-top: 0.5em;
    margin-bottom: 0;
    line-height: 1.7em;
    text-indent: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-position: 0 0;
}

#content ol.table_footnotes li {
    list-style-type: lower-alpha;
}

#content hr.horizontal_line {
    margin-top: 5em;
    margin-bottom: 5em;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    border: none;
    border-top: 1px solid rgb(242, 242, 242);
}

#content p.space {
    height: 2.5em;
}

#content div.image.to_left {
    float: left;
    margin: 0 30px 0 0;
}

#content div.image.to_right {
    float: right;
    margin: 0 0 0 20px;
}

#content .to_left, #content .to_right, #content p.space, #content hr.horizontal_line, #content hr.footnote {
    clear: both;
}

#content .clear_float {
    clear: both;
}

#content .element strong {
    font-weight: bold;
}

#content .element code {
    color: rgb(0, 153, 0);
}

#content .element small {
    font-size: 12px;
    color: rgb(153, 153, 255);
}

#content .element del {
    color: rgb(204, 0, 0);
    text-decoration: line-through;
}

#content .element a {
    font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
    font-size: 15px;
    color: rgb(51, 51, 255);
    text-decoration: underline;
}

#content .element span.callout {
    background-image: url(../images/image180.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    margin-top: -2px;
    text-align: center;
    width: 20px;
}

#content div.step1 p {
    margin-left: 46px;
}

#content .r_step_section {
    border-left: 1px solid rgb(224, 224, 224);
    margin-left: 11px;
    padding-left: 34px;
}

#content .element p.step1_n {
    border-radius: 50%;
    box-shadow: inset rgb(66, 133, 244) 0 0 1px 1px;
    color: rgb(66, 133, 244);
    float: left;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 13px;
    font-style: normal;
    height: 24px;
    line-height: 24px;
    margin-bottom: 10px;
    margin-left: 0px;
    text-align: center;
    width: 24px;
}

#content .element ins {
    display: none;
}

body {
    counter-reset: ordered 0;
}

div, p, dl, dt, dd, ol, ul, li {
    margin: 0;
    padding: 0;
}

#cover_image img {
    max-width: 100%;
}

#cover_title h1 {
    border-bottom: 1px solid rgb(237, 237, 237);
}

.element {
    word-wrap: break-word;
}

.omit {
    display: none;
}

.image img {
    max-width: 100%;
}

.to_left {
    text-align: left !important;
}

.to_right {
    text-align: right !important;
}

.to_center {
    text-align: center !important;
}

table .to_bottom {
    vertical-align: bottom !important;
}

table .to_middle {
    vertical-align: middle !important;
}

#brief_toc ul li {
    list-style-type: none;
    margin: 15px 0;
    margin-left: 0;
}

/*#content h1.chapter_title {
    margin-bottom: 1.5em;
}*/

span.part_title_n, span.chapter_title_n, span.appendix_title_n {
    margin-right: 1em;
}

#content ol.ordered_list>li {
    counter-increment: ordered;
    list-style: none !important;
}

#content ol.ordered_list>li>p:before {
    content: counter(ordered) ". ";
    display: inline-block;
    margin-left: -20px;
    padding-right: 10px;
}

#content ol.ordered_list.renumbered {
    counter-reset: ordered 0;
}

sup.footnote {
    margin: 0 5px;
    font-weight: bold;
}

.footnotes a.to_content {
    margin-left: 10px;
    text-decoration: none !important;
}

#content table {
    border-collapse: collapse;
    border-color: #E2E7ED;
    width: 100%;
}

#content table.fixed {
    table-layout: fixed;
}

#content th, #content td {
    vertical-align: middle;
}

#content pre {
    white-space: pre-wrap;
    word-break: break-all;
    padding: 10px;
}

#content kbd {
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px rgb(255, 255, 255) inset;
    color: rgb(51, 51, 51);
    font-size: 12px;
    font-weight: normal;
    margin: 0 0.1em;
    padding: 0.1em 0.6em;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
    vertical-align: 2px;
    white-space: nowrap;
}

#content span.mark {
    display: none;
}

#content #index_group li {
    display: inline;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 15px 0 0;
}

#content #index_entries {
    padding-top: 30px;
}

#content #index_entries .index_group {
    clear: both;
    padding-top: 50px;
}

#content #index_entries h1 {
    border-top: 1px solid rgb(207, 207, 207);
    border-bottom: none;
    color: rgb(0, 102, 204);
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 0 20px 0;
    padding-top: 5px;
}

#content #index_entries ul {
    float: left;
    margin: 0 20px 5px 0;
    padding: 0;
    width: 200px;
}

#content #index_entries ul ul {
    float: none;
    margin: 0;
    width: 100%;
}

#content #index_entries li {
    line-height: 1.5;
    list-style: none;
    margin: 0;
    padding-left: 2em;
    text-indent: -2em;
}

#content #index_entries li li {
    padding-left: 1em;
}

#content #index_entries ul li:first-letter {
    text-decoration: underline;
}

#content #index_entries ul ul li:first-letter {
    text-decoration: none;
}

#content #index_entries ul span a {
    margin-left: 5px;
    padding: 0 5px;
    text-decoration: none;
}

#content #index_entries ul span a:hover {
    background: rgb(244, 246, 248);
    outline: 1px solid rgb(207, 207, 207);
}

.code {
    counter-reset: code_line_number;
}

.code.support_code_numbering {
    overflow-x: auto;
    white-space: pre !important;
    word-wrap: normal !important;
}

.code .code_line:after {
    color: rgb(160, 160, 160);
    content: counter(code_line_number);
    counter-increment: code_line_number;
    display: inline-block;
    padding-right: 0.9em;
    text-align: right;
    width: 1em;
}

.code .digits_10:after {
    width: 1.6em;
}

.code .digits_100:after {
    width: 2.2em;
}

.code .digits_100:after {
    width: 2.8em;
}

.code .keyword {
    color: rgb(127, 0, 85);
    font-weight: bold;
}

.code .string, .code .css_value, .code .attribute_value {
    color: rgb(42, 0, 255);
}

.code .attribute_name {
    color: rgb(127, 0, 127);
}

.code .attribute_value {
    font-style: italic;
}

.code .comment {
    color: rgb(63, 127, 95);
}

.code .selector {
    color: rgb(127, 0, 85);
    font-style: italic;
}

.code .tag_selector {
    color: rgb(127, 0, 85);
    font-weight: bold;
}

.code .dynamic_script {
    color: rgb(191, 95, 63);
}
