span  {
	font-family: "Open Sans","맑은 고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana" !important;
	font-size : 13px !important;
	line-height: 16px;
	letter-spacing: -0.7px;
}
label {
	font-family: "Open Sans","맑은 고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana" !important;
	font-size : 13px !important;
	line-height: 16px;
	letter-spacing: -0.7px;
}

div {
	font-family: "Open Sans","맑은 고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana" !important;
	font-size : 13px !important;
	line-height: 16px;
	letter-spacing: -0.7px;
}
