span  {
	font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
	font-size : 12px !important;
}
label {
	font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
	font-size : 12px !important;
}

div {
	font-family: "Open Sans","맑은고딕","Malgun Gothic","돋움","dotum", sans-serif ,"verdana";
	font-size : 13px !important;
}
